[core]
  ignorecase = false
  excludesfile = ~/.gitignore-global
  editor = /Applications/MacVim.app/Contents/MacOS/Vim
  pager = bash -lc 'diff-highlight | strip_diff_leading_symbols | less -r' -

[user]
  email = darrinholst@gmail.com
  name = Darrin Holst

[github]
  user = darrinholst

[color]
  ui = true

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[alias]
  ad = !git add -A && git st
  ci = commit
  st = status
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  lgm = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  up = pull --rebase --prune
  fu = !git add -A && git commit -qm 'FU SAVEPOINT' && git reset --hard HEAD~
  co = checkout
  ec = config --global -e
  branch-name = !git rev-parse --abbrev-ref HEAD
  cleanup = !git co master && git branch --merged | egrep -v '^\\*' | xargs -n 1 git branch -d
  publish = !git push -u origin $(git branch-name)
  push-force = !git push --force-with-lease
  wtfdid = !git log --author=$(whoami) --after=$(date -v1d +"%Y-%m-%dT00:00:00") --before=$(date -v1d -v+1m +"%Y-%m-%dT00:00:00") --date=short --reverse --pretty=format:'%ad %s'
  wtfdidlast = !git log --author=$(whoami) --after=$(date -v-1m -v1d +"%Y-%m-%dT00:00:00") --before=$(date -v1d +"%Y-%m-%dT00:00:00") --date=short --reverse --pretty=format:'%ad %s'

[push]
  default = simple

[init]
  templatedir = ~/.git_template

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[tig]
  line-graphics = utf-8
  mouse = true
