.swp
Work
VMware
Pictures
Music
Movies
Library
Dropbox
Downloads
Documents
Desktop
VMware
Public
.ssh
.sqlite_history
.rake
.m2
.heroku
.gem
.groovy
.zsh_history
.zcompdump
.viminfo
.vimfuzzyfinder
.subversion
.rubyforge
.rdebug_hist
.lesshst
.fontconfig
.dropbox
.bash_history
.ack
.cpan
.cups
.Trash
.dbvis
.config
.mysql_history
.recently-used*
.gnupg
.Xauthority
.CFUserTextEncoding
.rake_tasks
.redcar
Applications/
work/
.cheat
.junglediskinstance
.rs
.palm-run
.ruby_inline
.rvm*
.netrwhist
*.swp
.zsh/cache
.NERDTreeBookmarks
.bash*
.bundle/
.irb_history
.gvimrc
.vimrc
.webex
.wireshark*
