[core]
  ignorecase = false
  excludesfile = ~/.gitignore-global
  editor = vim
  ;pager = bash -lc 'diff-highlight | strip_diff_leading_symbols | less -FXr' -

[user]
  email = darrinholst@gmail.com
  name = Darrin Holst

[github]
  user = darrinholst

[color]
  ui = true

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

;[color "diff-highlight"]
  ;oldNormal = "red bold"
  ;oldHighlight = "red bold 52"
  ;newNormal = "green bold"
  ;newHighlight = "green bold 22"

[alias]
  ad = !git add -A && git st
  st = status
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  lgm = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative
  up = !git pull --rebase --prune && git cleanup
  upall = !"find . -type d -depth 1 -exec printf '\\n\\n%s\\n' {} \\; -exec git --git-dir={}/.git --work-tree={} co main \\; -exec git --git-dir={}/.git --work-tree={} pull origin $(cd {} && git default-branch) --prune --rebase \\;"
  fu = !git add -A && git commit --no-verify -qm 'FU SAVEPOINT' && git reset --hard HEAD~
  co = checkout
  branch-name = !git rev-parse --abbrev-ref HEAD
  default-branch = !git rev-parse --abbrev-ref main > /dev/null 2>&1 && echo main || echo master
  cleanup = !git branch --merged $(git default-branch) | egrep -v '^\\*' | xargs -n 1 git branch -d
  publish = !git push -u origin $(git branch-name)
  wtfdid = !git log --author=$(whoami) --after=$(date -v1d +"%Y-%m-%dT00:00:00") --before=$(date -v1d -v+1m +"%Y-%m-%dT00:00:00") --date=short --reverse --pretty=format:'%ad %s'
  wtfdidlast = !git log --author=$(whoami) --after=$(date -v-1m -v1d +"%Y-%m-%dT00:00:00") --before=$(date -v1d +"%Y-%m-%dT00:00:00") --date=short --reverse --pretty=format:'%ad %s'
  wip = !git add -A && git commit -m 'wip'
  unwip = !git reset HEAD~
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  squashemall = !git reset $(git merge-base $(git default-branch) $(git rev-parse --abbrev-ref HEAD))

[push]
  default = simple

[init]
  templatedir = ~/.git_template
	defaultBranch = main

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[tig]
  line-graphics = utf-8
  mouse = true
  main-view-date-display = relative-compact
  main-view-author-display = email-user
  main-view-id-display = yes
  main-view-commit-title-graph = no
  vertical-split = false
  diff-context = 3

[credential]
	helper = osxkeychain

[pull]
	rebase = true

[pager]
	branch = false

[url "https://github.com/"]
	insteadOf = git@github.com:

[url "https://"]
	insteadOf = git://

[rerere]
	enabled = 1

[log]
  merges = false
