snippet wip "@wip" b
@wip
endsnippet

snippet foc "@focused" b
@focused
endsnippet

snippet fea "Feature:" b
Feature: $0
endsnippet

snippet back "Background:" b
Background:
	Given $0
endsnippet

snippet back "Scenario:" b
Scenario: $0
	$1
endsnippet
