snippet desc "Describe (js)" b
describe('${1:description}', () => {
	$0
});
endsnippet

snippet it "it (js)" b
it('should ${1:description}', () => {
	$0
});
endsnippet

snippet be "before each (js)" b
beforeEach(() => {
	$0
});
endsnippet

snippet ae "after each (js)" b
afterEach(() => {
	$0
});
endsnippet
