'editor':
  'fontFamily': 'Meslo LG M'
  'preferredLineLength': 150
  'fontSize': 18
'core':
  'themes': [
    'atom-dark-ui'
    'tomorrow-night-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'audioBeep': false
'exception-reporting':
  'userId': '18b39d48-64b9-f9e2-7156-9bb9efb3adb6'
'release-notes':
  'viewedVersion': '0.61.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'f52001ceee178b9983ae489341b56f46a43c83a9'
'autosave':
  'enabled': true
