snippet be
beforeEach(() => {
  $0
});
endsnippet

snippet bea
beforeEach(async () => {
  $0
});
endsnippet

snippet it
it("should $0", () => {
  $1
});
endsnippet

snippet ita
it("should $0", async () => {
  $1
});
endsnippet
