snippet be
beforeEach(() => {
  $0
});
endsnippet

snippet bea
beforeEach(async () => {
  $0
});
endsnippet

snippet it
it('should ${1:do something}', () => {
  $0
});
endsnippet

snippet ita
it('should ${1:do something}', async () => {
  $0
});
endsnippet

