snippet be
	beforeEach(function () {
		${0}
	});
snippet ae
	afterEach(function () {
		${0}
	});
snippet desc
	describe('${1}', function () {
		${0}
	});
snippet it
	it('${1}', function () {
		${0}
	});
